table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.85em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: table !important;
}

thead > tr {
    background-color: #3a4754;
    color: #ffffff;
    text-align: left;
}

tbody > tr {
    border-bottom: 1px solid #dddddd;
}

tbody > tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody > tr:last-of-type {
    border-bottom: 2px solid #3a4754;
}

th, td {
    padding: 12px 15px;
}

td > a:visited {
    color: #2980B9;
}

td > a:hover {
    text-decoration: underline;
}
